{% extends "modal_layout.html" %}
{% load victr_tags %}

{% block modal_class %}{{ block.super }} form{% endblock %}

{% block modal_top %}
<form action="{% block action %}{% endblock %}" method="{% block method %}post{% endblock %}" class="form-horizontal">
{% endblock %}

{% block content %}
{% block fields %}
{% for form in forms %}
    {% include "form/fields.html" %}
{% endfor %}
{% endblock %}
{% endblock %}

{% block footer %}
{% block actions %}
{% include "form/actions.html" %}
{% endblock %}
{% endblock %}

{% block modal_bottom %}
</form>
{% endblock %}