{% extends "main_layout.html" %}
{% load victr_tags %}

{% block page_class %}form_page{% endblock %}

{% block content %}
<h2>{% block heading %}{% endblock %}</h2>
<form action="{% block action %}{% endblock %}" method="{% block method %}post{% endblock %}" class="form-horizontal">

    {% for form in forms %}{% include "form/subform.html" %}{% endfor %}

    <section class="row">
        <div class="span9 offset3">
            {% block actions %}
            {% include "form/actions.html" %}
            {% endblock %}
        </div>
    </section>

</form>
{% endblock %}