{% extends "main_layout.html" %}

{% block page_id %}event_list{% endblock %}

{% block page_title %}Victr - Event List{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<header>
    <h1>Events</h1>
</header>
<div class="row">
    <section class="main span12">
    {% for event in events %}
        {% include "event/small.html" %}
    {% empty %}
        <h3>No scheduled events</h3>
        <p>Huh... there don't seem to be any events in here. Shucks! Be sure to come back another time.</p>
    {% endfor %}
    </section>
</div>
{% endblock %}