{% load victr_tags %}

<div class="row info" {% if event.is_open %}data-label="now"{% endif %}>
    <div class="span8">
        <span class="switch open"><i class="icon-chevron-down"></i></span>
        <span class="switch closed"><i class="icon-chevron-right"></i></span>
        <h2><a href="{% victr_base %}event/{{ event.slug }}">{{ event.name }}</a></h2>
    </div>
    <div class="span4">
        <h4 class="date">{% if event.is_open %}<small>Happening Now! -</small> {% endif %}{{ event.open|date:"l \t\he\ jS @ P" }}</h4>
    </div>
</div>
<div class="projects">
    {% for project in event.project_set.all %}
        {% cycle '<div class="row">' '' '' %}
            {% include "project/small.html" %}
        {% cycle '' '' '</div>' %}
        {% empty %}
        <p class="center empty">There are no projects currently submitted for {{ event.name }}.</p>
    {% endfor %}
</div>