{% extends "main_layout.html" %}

{% block page_id %}event_open{% endblock %}

{% block page_title %}Victr - {{ event.name }}{% endblock %}

{% block header %}
<div class="event">
    <header class="page-header hero-unit">
        <h2>Optaros presents</h2>
        <h1>{{ event.name }}</h1>
        <p>June 18-19, 2012 - Bucharest, Austin, and Boston</p>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <section class="main span8">
            <div class="description">
                <h3>The Optaros HTML5 Internal Hackathon</h3>
                <p>is an opportunity for Optards of all offices, creeds, and walks of life to come together and make awesome stuff. <3</p>
                <p>Biodiesel esse quinoa pinterest, culpa sint bespoke ex semiotics brooklyn lo-fi polaroid ethnic. Sint narwhal incididunt, banksy et terry richardson swag american apparel quis nisi messenger bag. Dolor wes anderson lo-fi godard photo booth, pork belly kogi sriracha stumptown butcher ethnic mollit. Etsy vinyl nesciunt stumptown wolf. Hoodie echo park dolore, mcsweeney's narwhal aliquip est wolf.</p>
                <p>Single-origin coffee skateboard kale chips, consectetur elit fixie occupy yr four loko nulla mollit. Banh mi pitchfork put a bird on it minim post-ironic, direct trade raw denim bushwick voluptate jean shorts. </p>
            </div>
            <h2>Hacks</h2>
            <div class="projects row">
                <article class="project span4">I'm a project</article>
                <article class="project span4">I'm a project</article>
                <article class="project span4">I'm a project</article>
                <article class="project span4">I'm a project</article>
            </div>
        </section>
        <section class="right-sidebar span4">
            <div class="tweets">
                <h3>Tweets</h3>
                <ul>
                    <li class="well">140 chars - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in molestie odio. Sed porttitor bibendum enim at euismod. Suspende</li>
                    <li class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in molestie odio. With a link. <a href="http://tinyurl.com/5o77k" target="_blank" rel="nofollow" class="twitter-timeline-link" data-ultimate-url="http://en.wikipedia.org/wiki/Lorem_ipsum">http://tinyurl.com/5o77k</a></li>
                    <li class="well">A shorter tweet. she so short.</li>
                </ul>
            </div>
        </section>
    </div>
    
</div>
{% endblock %}