{% extends "impress/layout.html" %}

{% block page_id %}impress_present{% endblock %}

{% block content %}
<section id="first-slide" class="step" data-x="-1000" data-y="-3000" data-scale="3" data-rotate="90">
  <h1>Event title here</h1>
  <p>sponsored by Optaros</p>
  <p>June 18-19, 2012 - Bucharest, Austin, and Boston</p>
  <span style="small">slideshow thingy brought to you by <a href="https://github.com/bartaz/impress.js">impress.js</a></span>
</section>

<article class="project step slide" data-x="-1000" data-y="-1500">
  <header>
      <div class="container-fluid">
          <h1 class="pull-left">Hack Name</h1>
          <a class="btn btn-primary pull-left" href="http://www.optaros.com">view hack <i class="icon-arrow-right icon-white"></i></a>
      </div>
  </header>
  <div class="details well container-fluid">
      <img class="screenshot pull-right" src="http://placekitten.com/g/200/200/" />
      <span class="award">Winner, Outstanding UX</span>
      <div class="field"><span class="label">created by:</span>User 1 and User 2</div>
      <div class="field"><span class="label">tech:</span>Django, Python, ya know, the works</div>
      <div class="field"><span class="label">github:</span><a class="btn btn-small btn-success" href="https://github.com/twitter/bootstrap/">browse code</a></div>
  </div>
  <h3>About Hack Name</h3>
  <p>Incididunt VHS truffaut cray. Before they sold out post-ironic mlkshk laborum yr. Tofu occupy delectus, biodiesel culpa cupidatat food truck ad master cleanse photo booth terry richardson artisan fingerstache stumptown mollit. Tattooed mustache pour-over odd future readymade cred. Etsy fingerstache vegan ad. Eiusmod aliqua street art, direct trade aute laboris nostrud thundercats. Anim ethical put a bird on it, fanny pack keytar sriracha laboris hella street art ullamco seitan laborum brunch cupidatat.</p>
  <p>Veniam ex semiotics, whatever commodo wayfarers proident non tempor narwhal. Veniam non polaroid, craft beer banh mi thundercats odd future. Officia fixie voluptate, nostrud lomo pickled cillum. Aute consequat vegan id. Direct trade shoreditch hoodie, vero locavore yr terry richardson tempor truffaut deserunt placeat aliquip seitan whatever ennui. Leggings biodiesel salvia shoreditch, thundercats umami wes anderson. Blog officia placeat bushwick, voluptate labore yr craft beer pork belly wayfarers tofu reprehenderit aliquip nesciunt locavore.</p>
</article>

<article class="project step slide" data-x="0" data-y="-1500">
    <header>
        <div class="container-fluid">
            <h1 class="pull-left">Hack Name</h1>
            <a class="btn btn-primary pull-left" href="http://www.optaros.com">view hack <i class="icon-arrow-right icon-white"></i></a>
        </div>
    </header>
    <div class="details well container-fluid">
        <img class="screenshot pull-right" src="http://baconmockup.com/200/200/" />
        <span class="award first">First Place - $250</span>
        <div class="field"><span class="label">created by:</span>User 1 and User 2</div>
        <div class="field"><span class="label">tech:</span>Django, Python, ya know, the works</div>
        <div class="field"><span class="label">github:</span><a class="btn btn-small btn-success" href="https://github.com/twitter/bootstrap/">browse code</a></div>
    </div>
    <h3>About Hack Name</h3>
    <p>Incididunt VHS truffaut cray. Before they sold out post-ironic mlkshk laborum yr. Tofu occupy delectus, biodiesel culpa cupidatat food truck ad master cleanse photo booth terry richardson artisan fingerstache stumptown mollit. Tattooed mustache pour-over odd future readymade cred. Etsy fingerstache vegan ad. Eiusmod aliqua street art, direct trade aute laboris nostrud thundercats. Anim ethical put a bird on it, fanny pack keytar sriracha laboris hella street art ullamco seitan laborum brunch cupidatat.</p>
</article>
{% endblock %}