{% extends "impress/layout.html" %}
{% load victr_tags %}

{% block page_id %}impress_present{% endblock %}

{% block content %}
<section id="first-slide" class="step" data-x="0" data-y="500" data-scale="2" data-rotate="90">
  <h2>Optaros presents</h2>
  <h1>{{ event.name }}</h1>
  <h3>{{ event.open|date:"l, F j, Y - P" }}</h3>
  <small>slideshow powered by <a href="https://github.com/fastfrwrd/Victr">Victr</a> and <a href="https://github.com/bartaz/impress.js">impress.js</a></small>
</section>

{% for project in projects %}
<article class="step slide project" data-x="{{ forloop.counter0|multiply:1000 }}" data-y="-1500">
    {% include "project/project.html" %}
</article>
{% empty %}
<div class="step" data-x="0" data-y="-1000" data-scale="2">
    <h1>No events!</h1>
    <p><strong>Aw, snap!</strong> Way to jump the gun. Come back when there are projects for this event!</p>
</div>
{% endfor %}
{% endblock %}