/* Victr styles here */

#project_new .form-horizontal .form-actions {
    padding-left: 180px;
}
#project_new #project_desc {
    height: 100px
}
#project_new #project_tags_list, #project_new #project_other_urls_list, #project_new #project_other_urls_list {
    min-height: 30px
}
