/* Victr styles here */

h2 {
    margin-bottom: 20px;
}

#project_new .form-horizontal .form-actions {
    padding-left: 180px;
}
#project_new #project_desc {
    height: 100px
}
#project_new .tag_list {
    min-height: 30px
}





@media (max-width: 480px) {
    #project_new .form-horizontal .form-actions {
        padding-left: 19px;
    }
}
@media (max-width: 768px) {
    #project_new #project_desc {
        width: 270px
    }
}
@media (min-width: 768px) and (max-width: 980px) {
    #project_new #project_desc {
        width: 320px;
    }
}
@media (min-width: 980px) and (max-width: 1200px) {
    #project_new #project_desc {
        width: 480px;
    }
}