{% extends "main_layout.html" %}

{% block page_id %}archive{% endblock %}

{% block page_title %}Victr - Archive{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<header>
    <h1>Archive</h1>
</header>
<div class="row">
    <section class="main span12">

        
        {% for year,months in grouped_events.items %}
            <div class="year">
                <div class="row">
                    <div class="offset10 span2">{{ year }}</div>
                </div>
                <div class="months">
                    {% for month,data in months.items %}
                        <div class="month">
                            <div class="row">
                                <div class="offset9 span3">{{ data.month }}</div>
                            </div>
                            <div class="events">
                                {% for event in data.events %}
                                    <div class="event {% if not event.is_open %}closed hide{% else %}{% endif %}">
                                        {% include "event/archive.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
        
    </section>
</div>
{% endblock %}