{% load victr_tags %}

{% block form %}
<form action="{% victr_base %}{% block action %}{% endblock %}/" method="{% block method %}{% endblock %}">{% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="control-group field-{{ field.html_name }}{% if field.errors %} error{% endif %}">
	<div class="control-group">
	  {{ field.label_tag|add_class:"control-label" }}
	  <div class="controls">
		{{ field|add_class:"input-xlarge" }}
		{{ field.errors|add_class:"help-inline" }}
	  </div>
	</div>
  </div>
  {% endfor %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% block special_fields %}{% endblock %}
  <div class="form-actions">
    {% block form_actions %}{% endblock %}
  </div>
</form>
{% endblock %}