{% extends "root.html" %}

{% block css %}
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le styles -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<style type="text/css">
    body {
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
</style>
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block nav %}{% include "nav.html" %}{% endblock %}


{% block container %}
  
    {% block header %}
  {% endblock %}
<div class="container main {% block page_class %}{% endblock %}" id="{% block page_id %}{% endblock %}">
    

    
  {% block featured_item %}
  {% endblock %}
    
  {% block content %}
  {% endblock %}
  
  {% block footer %}
  {% endblock %}

</div><!--/.fluid-fixed-->
{% endblock %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/victr.js"></script>
    {% block script %}{% endblock %}
    <script>
        $(function() {
            Victr.init();
            {% block inline_scripts %}{% endblock %}
        })
    </script>
{% endblock %}