{% extends "root.html" %}
{% load victr_tags %}

{% block css %}
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le styles -->
{% block extra_css %}{% endblock %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<style type="text/css">
    body {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }
</style>
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}

{% block nav %}{% include "nav.html" %}{% endblock %}

{% block container %}
  
  {% block header %}
  {% endblock %}
  
  <div class="container main {% block page_class %}{% endblock %}" id="{% block page_id %}{% endblock %}">
      {% block messages %}{% include "messages.html" %}{% endblock %}
        
      {% block featured_item %}
      {% endblock %}
        
      {% block content %}
      {% endblock %}
      
      {% block footer %}
      {% endblock %}
  </div>

    <div id="modals"></div>
{% endblock %}

{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead-remote.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown-patched.js"></script>
    <script src="{{ STATIC_URL }}js/victr.js"></script>
    {% block script %}{% endblock %}
    <script>
        $(function() {
            Victr.current = "{% path request %}"
            Victr.next = "{% next request %}";
            Victr.register = "{% url register %}";
            Victr.register_modal = "{% url register_modal %}";
            Victr.login = "{% url login %}";
            Victr.login_nav = "{% url login_nav %}";
            Victr.base = "{% victr_base %}";
            Victr.init();
            {% block inline_scripts %}{% endblock %}
        })
    </script>
{% endblock %}