<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Victr</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/events"><i class="icon-calendar icon-white"></i> Hack Days</a></li>
          <li><a href="/project/all"><i class="icon-gift icon-white"></i> Hacks</a></li>
          <li><a href="/people"><i class="icon-user icon-white"></i> People</a></li>
        </ul>
      </div>
      <ul id="auth-wrapper" class="nav pull-right">
        <li id="auth" class="dropdown">
          {% include "auth/login_nav.html" %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="register" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Victr - register</h3>
  </div>
  <div class="modal-body">
    {% include "auth/register.html" %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-large">Register</button>
  </div>
</div>