{% load victr_tags %}
<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url victr_home %}">{% victr_brand %}</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          {% if user.is_authenticated %}
          <li><a href="{% url victr_auth_edit %}" class="login-collapse"><i class="icon-user"></i><i class="icon-user icon-white"></i> My Account</a></li>
          <li><a href="{% url victr_auth_logout %}" class="login-collapse"><i class="icon-off"></i><i class="icon-off icon-white"></i> Logout</a></li>
          {% else %}
          <li><a href="{% url victr_auth_login %}" class="login-collapse"><i class="icon-home"></i><i class="icon-home icon-white"></i> Login</a></li>
          {% endif %}
          <li><a href="{% url victr_home %}"><i class="icon-calendar"></i><i class="icon-calendar icon-white"></i> Current {% filter capfirst %}{% victr_keyword "event" %}{% endfilter %}</a></li>
          <li><a href="{% url victr_archive %}" data-goto="now"><i class="{% active request 'victr_archive' 'icon-folder-open' 'icon-folder-close' %}"></i><i class="{% active request 'victr_archive' 'icon-folder-open' 'icon-folder-close' %} icon-white"></i> {% filter capfirst %}{% victr_keyword "archive" %}{% endfilter %}</a></li>
        </ul>
      </div>
      <ul id="auth-wrapper" class="nav pull-right">
        <li id="auth" class="dropdown">
          {% include "auth/dropdown.html" %}
        </li>
      </ul>
    </div>
  </div>
</nav>
