<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }} - {{ title }}</title>
    <meta name="description" content="{% block page-description %}{% endblock %}">
    <meta name="author" content="Victr (http://www.github.com/fastfrwrd/Victr)">
    <link href="{{ STATIC_URL }}css/victr.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>

  <body>
    
    {% block nav %}
    {% endblock %}
    
    {% block container %}
    {% endblock %}
    
    {% block js %}
    {% endblock %}
    
  </body>
</html>
