<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}Victr - to the victr go the spoils{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Victr is a Django app that helps you manage contest submissions. http://www.github.com/fastfrwrd/Victr{% endblock %}">
    <meta name="author" content="Victr (http://www.github.com/fastfrwrd/Victr)">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no" />
    {% block css %}
    {% endblock %}
    <link href="{{ STATIC_URL }}css/victr.css" rel="stylesheet">
  </head>

  <body>

    {% block nav %}
    {% endblock %}
    
    {% block container %}
    {% endblock %}
    
    {% block js %}
    {% endblock %}

  </body>
</html>
