<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{sitename}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block page-description %}{% endblock %}">
    <meta name="author" content="Victr (http://www.github.com/fastfrwrd/Victr)">
    {% block included_css %}{% endblock %}
  </head>

  <body>
    
    {% block nav %}
    {% endblock %}

    {% block container %}
    {% endblock %}
    
    {% block included_scripts %}{% endblock %}
  </body>
</html>
