{% load victr_tags %}
<form action="/login" method="post">{% csrf_token %}
  {% for field in login_form %}
  <div class="field-wrapper">
    <div class="label-tag">{{ field.label_tag }}</div>
    <div class="field">{{ field }}</div>
    {{ field.errors }}
  </div>
  {% endfor %}
  <div class="field-wrapper submit-field">
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% victr_base %}register" data-toggle="modal" data-target="#register" class="btn register">Register</a>
  </div>
</form>