{% if user.is_authenticated %}
<a class="dropdown-toggle" data-toggle="dropdown" href="#auth"><i class="icon-home icon-white"></i> {{ user.first_name }} {{ user.last_name }} <b class="caret"></b></a>
<ul class="dropdown-menu">
  <li><a href="user/projects">My Projects</a></li>
  <li><a href="user/edit">Account</a></li>
  <li class="divider"></li>
  <li><a href="logout">Logout</a></li>
</ul>
{% else %}
<a class="dropdown-toggle" data-toggle="dropdown" href="#auth"><i class="icon-home"></i> Login</a>
<ul class="dropdown-menu">
  <li class="login-wrapper loading">
    <img src="{{ STATIC_URL }}img/ajax-loader.gif" alt="Loading..." />
  </li>
</div>
{% endif %}