{% extends "main_layout.html" %}
{% load victr_tags %}

{% block page_id %}auth_profile{% endblock %}
{% block page_class %}user{% endblock %}

{% block content %}
<header class="container">
    <h1 class="pull-left">{{ userprofile.full_name }}</h1>
    {% if userprofile.user.pk == user.pk or user.is_staff %}
    <a class="btn" href="{% victr_base %}auth/user/edit">edit <i class="icon-pencil"></i></a>
    {% endif %}
</header>
<div class="row">
    <section class="profile span8">
    {% for value in userprofile.profile %}
        <div class="row">
            <div class="label span2">{{ value|verbose_name }}</div>
            <div class="span6">{{ value }}</div>
        </div>
    {% endfor %}
    </section>
    <section class="projects span4">
    <h3>Projects</h3>
    <div class="row">
        {% for project in userprofile.project_set.all %}
            <div class="span4">
                <h4><a href="{% victr_base %}project/{{ project.slug }}">{{ project.title }}</a></h4>
            </div>
        {% empty %}
            <div class="span4"><em>{{ userprofile.full_name }} currently has no projects.</em></div>
        {% endfor %}
    </div>
    </section>
</div>
{% endblock %}