{% extends "main_layout.html" %}
{% load victr_tags %}

{% block page_id %}auth_register_page{% endblock %}

{% block content %}
<h2>Register</h2>
<section class="row">
  <div class="span3">
    <p>Registration is required for at least one team member for entry into the contest. All team members are encouraged to sign up, however, so they can be attributed and show off their work.</p>
    <p>Already registered? <a href="{% victr_base %}login">Login</a> to manage your projects.</p>
    <p>Don't remember your password? <a href="{% victr_base %}reset">Reset your password</a> and get back in the action.</p>
  </div>
  <div class="span9">
    <div class="well form-horizontal">
    {% include "auth/register.html" %}
    </div>
  </div>
</section>
{% endblock %}