<section class="details well container-fluid">
    <!-- todo: screenshots, extra links, tags, users -->
    {% if project.award or project.rank %}<span class="award{{ project.rank_class }}">{{ project.award_text }}</span>{% endif %}
    <div class="field"><span class="label">created by:</span>User 1 and User 2</div>
    <!--<div class="field"><span class="label">tech:</span>{{ project.tags.all|join:', ' }}</div>
    <div class="field"><span class="label">github:</span><a class="btn btn-small btn-success" href="https://github.com/twitter/bootstrap/">browse code</a></div>-->
</section>