{% extends "main_layout.html" %}
{% load victr_tags %}

{% block page_id %}project_new{% endblock %}
{% block page_class %}project_form{% endblock %}

{% block content %}

{% block heading %}{% endblock %}
<form action="{% victr_base %}{% block action %}{% endblock %}" method="{% block method %}post{% endblock %}" class="form-horizontal">

    <h3>Project Informations</h3>
    <section class="row">
        <div class="span3">
            <p>
                Tell us a little bit about your project. I bet it's so cool! What up girrrl, this is Section Awesome. Raw denim you probably haven't heard of them jean shorts Austin.
            </p>
        </div>
        <div class="span9">
            <div class="well">
                <fieldset>
                    {% for field in project_form %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        {{ field.label_tag|add_class:"control-label" }}
                        <div class="controls">
                            {{ field|add_class:"input-xlarge" }}
                            {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="span9 offset3">
            <div class="form-actions">
                {% csrf_token %}
                <button type="submit" id="submit" class="btn btn-primary"><i class="icon-gift icon-white"></i><i class="icon-refresh icon-white"></i> {% block submit %}{% endblock %} Project</button>
                <button type="reset" id="reset" class="btn">Reset</button>
            </div>
        </div>
    </section>

</form>
{% endblock %}