{% extends "project/form.html" %}
{% load victr_tags %}

{% block page_id %}project_new{% endblock %}

{% block action %}{% victr_base %}project/new/{% endblock %}

{% block heading %}
Submit a {% filter capfirst %}{% victr_keyword "project" %}{% endfilter %} <small>just fill out the form!</small>
{% endblock %}

{% block actions %}
{% include "form/actions.html" with submit_text="Submit Project"  submit_icon="icon-gift" %}
{% endblock %}

{% block extra_css %}<link href="{{ STATIC_URL }}css/chosen.css" rel="stylesheet">{% endblock %}
{% block script %}<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>{% endblock %}