{% extends "main_layout.html" %}

{% block page_id %}project_new{% endblock %}
{% block page_class %}project_form{% endblock %}

{% block content %}

    <h2>Submit a Project <small>just fill out the form!</small></h2>
    <form action="/project" method="POST">

        <h3>Project Information</h3>
        <section class="row">
            <div class="span3">
                <p>
                    Tell us a little bit about your project. I bet it's so cool! What up girrrl, this is Section Awesome. Raw denim you probably haven't heard of them jean shorts Austin.
                </p>
            </div>
            <div class="span9">
                <div class="well form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="project_title">Title</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="project_title" name="project_title" placeholder="be creative.."/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="project_desc">Description</label>
                            <div class="controls">
                                <textarea class="input-xxlarge" id="project_desc" name="project_desc" placeholder="details.."></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="project_tags">Tags</label>
                            <div class="controls" data-role="tagger" data-autocomplete="true" data-icon="tag">
                                <input type="text" class="input-xlarge" id="project_tags" placeholder="press enter to add"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="project_site_url">Site URL</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="project_site_url" name="project_site_url" placeholder="http://example.com"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="project_other_urls">Other URLs</label>
                            <div class="controls" data-role="tagger" data-autocomplete="true" data-icon="star">
                                <input type="text" class="input-xlarge" id="project_other_urls" placeholder="press enter to add"/>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <h3>Participants</h3>
        <section class="row">
            <div class="span3">
                <p>
                    Who are your team members? Please register your teammates before you enter this information.
                </p>
            </div>
            <div class="span9">
                <div class="well form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="project_names">Name or Email</label>
                            <div class="controls" data-role="tagger" data-autocomplete="true" data-icon="user">
                                <input type="email" class="input-xlarge" id="project_names" placeholder="press enter to add"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="span9 offset3">
                <div class="form-horizontal">
                    <div class="form-actions">
                        {% csrf_token %}
                        <button type="submit" id="submit" class="btn btn-primary"><i class="icon-gift icon-white"></i><i class="icon-refresh icon-white"></i> Submit Project</button>
                        <button type="button" id="reset" class="btn">Restart</button>
                    </div>
                </div>
            </div>
        </section>

    </form>
{% endblock %}